<div class="row">
  <div class="greeting">
    <h2>Have a great workout, {{name}}!</h2>
  </div>
</div>

<div class="selection">
  <div class="select-btn">
    <h3>Choose a Muscle Group:</h3>

    <div class="body-parts">
      <button type="submit" class="btn">Chest</button>
      <button type="submit" class="btn">Back</button>
      <button type="submit" class="btn">Shoulders</button>
      <button type="submit" class="btn">Legs</button>
      <button type="submit" class="btn">Biceps</button>
      <button type="submit" class="btn">Triceps</button>
      <button type="submit" class="btn">Abs</button>
    </div>
  </div>
<br>
    <div class="col-md-6 workout-list">
      <h3>Current Favorites:</h3>

      {{#each workouts as |workout|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/workouts/{{workout.body_part}}">{{workout.name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button
              class="btn remove-btn"
              data-id="{{workout.body_part}}"
            >Remove</button>
          </div>
        </div>
      {{/each}}
    </div>
</div>

<script src="./js/profile.js"></script>